# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=finik_db
DB_USER=postgres
DB_PASSWORD=your_password

# Finik API Configuration
# Получите эти значения от представителей Финика
FINIK_API_KEY=your_api_key_from_finik
FINIK_PRIVATE_PEM=-----BEGIN PRIVATE KEY-----\nYour private key here\n-----END PRIVATE KEY-----
FINIK_ACCOUNT_ID=your_account_id_from_finik
FINIK_ENVIRONMENT=production
# Используйте 'beta' для тестового окружения или 'production' для продакшена

# Server IP (for callbacks)
SERVER_IP=2.56.179.126
SERVER_URL=http://2.56.179.126:3000

